.product {
    .product-item {
        // border: 1px solid grey;
        &__image {
            width: 200px;
            img {
                width: 100%;
            }
        }
    }
}

.red {
    border: 1px solid red;
}