<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>{{product.name}}</h2>
            <hr>
            <p>{{product.description}}</p>
            <strong>{{product.price}}</strong>

        </div>
    </div>


    <div class="row product">
        <div class="col-4" *ngFor="let product of products">
            <app-product-item [product]="product" [btnText]="btnText" (showDetail)="showDetail($event)"></app-product-item>

        </div>

    </div>
    
</div>